<component name="ArtifactManager">
  <artifact type="war" name="Spring-JPA:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-jpa-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-JPA:war exploded" />
    </root>
  </artifact>
</component>