<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Simulated Cluster Application</display-name>

    <servlet>
        <servlet-name>clusterNode1</servlet-name>
        <servlet-class>com.wrox.ClusterNodeServlet</servlet-class>
        <init-param>
            <param-name>nodeId</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>clusterNode1</servlet-name>
        <url-pattern>/clusterNode1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clusterNode2</servlet-name>
        <servlet-class>com.wrox.ClusterNodeServlet</servlet-class>
        <init-param>
            <param-name>nodeId</param-name>
            <param-value>2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>clusterNode2</servlet-name>
        <url-pattern>/clusterNode2</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.jspf</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>true</scripting-invalid>
            <include-prelude>/WEB-INF/jsp/base.jspf</include-prelude>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>

</web-app>
