<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="WroxFileAppender" fileName="../logs/application.log"
                     filePattern="../logs/application-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %X{id} %X{username} %-5level %c{36} %l: %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy min="1" max="4" />
        </RollingFile>
    </appenders>
    <loggers>
        <root level="warn">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.wrox" level="info" additivity="false">
            <appender-ref ref="WroxFileAppender" />
            <appender-ref ref="Console">
                <MarkerFilter marker="WROX_CONSOLE" onMatch="NEUTRAL"
                              onMismatch="DENY" />
            </appender-ref>
        </logger>
        <logger name="org.apache" level="info">
            <appender-ref ref="WroxFileAppender" />
        </logger>
    </loggers>
</configuration>

