<component name="ArtifactManager">
  <artifact type="war" name="Spring-XML-Config:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-xml-config-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-XML-Config:war exploded" />
    </root>
  </artifact>
</component>